<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EdairyFolder" value="C:\\Users\\Pramod\\Desktop\\EDairy\\"/>
	</appSettings>
	<connectionStrings>
		<add name="EdiarySqlite" connectionString="Data Source=.\EDiary.db" providerName="System.Data.SqliteClient" />
	</connectionStrings>
</configuration>